services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: plant_monitoring
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./web/backend
    container_name: backend
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: plant_monitoring
      DB_PORT: 5432
    ports:
      - "3001:3001"

  frontend:
    build: ./web/frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  pgdata:
